@import "../../styles/custom-variables.scss";

.cardContainer {
  display: flex;
  width: 100%;
}

.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.hourlyForecastContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:last-of-type {
  margin-right: 0;
}

.body {
  display: flex;
  flex-direction: row; // Keeps items in a row
  align-items: center; // Vertically centers items in the container
  justify-content: center; // Horizontally centers items in the container
  gap: 10px; // Maintains space between items
  padding: 20px;
  background-color: $brand-white;
  position: relative; // No change here
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: $brand-white;
}

.card .body h2 {
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
}

.card .body h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
}

.card .body h3:last-of-type {
  margin-bottom: 0px;
}

.card .body p:last-of-type {
  margin-bottom: 0px;
}

.imagePlaceholder {
  width: 80px;
  height: 80px;
  background: linear-gradient(to right, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: loadingShimmer 1.5s infinite linear;
  border-radius: 50%;
}

.card .body .noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .body .noDataContainer h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 15px 15px;
  text-align: center;
}

.card .body .noDataContainer h3 {
  font-size: 14px;
  font-weight: 300;
  color: $brand-grey;
  margin: 15px 15px;
  text-align: center;
}

.body.centerContent {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btnNextHours,
.btnPrevHours {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s ease; /* Smooth transition for the transform */
}

.btnNextHours {
  right: 20px;
}

.btnPrevHours {
  left: 20px;
}

/* Animation when pressed */
.btnNextHours:active,
.btnPrevHours:active {
  transform: translateY(-50%) scale(0.9); /* Slightly reduce the button size */
}

.hourlyForecastLine {
  width: 100%; /* Static width relative to its container */
  height: 2px; /* Thickness of the line */
  background-color: #007bff; /* Color of the line */
  margin-bottom: 20px; /* Space below the line to separate from the hourly forecasts */
}
