@import "../../styles/custom-variables.scss";

.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 9fr;
  max-width: 600px;
  margin-right: 15x;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.body {
  display: flex; // Ensures that flexbox properties are applied
  flex-direction: column; // Stacks the children vertically
  align-items: center; // Centers children horizontally in the middle of the 'body'
  justify-content: center; // Centers children vertically in the middle of the 'body'
  background-color: $brand-white;
  height: 280px; // Adjust height as needed
  padding: 20px; // Uniform padding from all sides
}

.topRow,
.middleRow,
.bottomRow {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: 5px;
}

.topItem,
.middleItem,
.bottomItem {
  display: flex;
}

.itemWrapper {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

.itemWrapper:hover {
  background-color: rgba(142, 202, 230, 0.2);
  transform: scale(1.05);
}

@keyframes fadeInOnly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInOnly {
  animation: fadeInOnly 0.5s;
}

.card .body .noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .body .noDataContainer h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 15px 15px;
  text-align: center;
}

.card .body .noDataContainer h3 {
  font-size: 14px;
  font-weight: 300;
  color: $brand-grey;
  margin: 15px 15px;
  text-align: center;
}
