.clickableCard {
  height: 300px;
  display: grid;
  grid-template-rows: 3fr 2fr;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickableCard:hover {
  transform: translateY(-20px);
  box-shadow: 0px 0px 6px 6px rgba(2, 176, 224, 0.5);
}

.clickableCard.selected,
.clickableCard.selected:hover {
  transform: none;
  box-shadow: 0 4px 8px rgba(2, 176, 224, 0.5);
  cursor: default;
}

.clickableCard.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
  margin-right: 12px;
  min-width: 139.3px;
  box-sizing: border-box;
}

.cardSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topSection {
  background: var(--dynamic-gradient), #ffffff;
  position: relative;
  border-radius: 10px 10px 0 0;
  padding: 0px 13px 13px 0px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(0.2rem);
  z-index: 1;
  color: white;
}

.bottomSection {
  display: flex;
  align-items: flex-start;
  padding: 22px 15px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  z-index: 1;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.clickableCard .topSection h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 300;
}

.clickableCard .topSection h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 35px;
  font-weight: 250;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3),
    /* Shadow on the right-bottom */ -1px -1px 2px rgba(255, 255, 255, 0.5); /* Soft light from top-left for depth */
}

.clickableCard .topSection h3 {
  position: absolute;
  bottom: 35px;
  right: 13px;
  font-size: 16px;
  font-weight: 350;
}

.clickableCard .topSection p {
  position: absolute;
  bottom: 5px;
  right: 13px;
  font-size: 14px;
  font-weight: 300;
}

.clickableCard .bottomSection h3 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 0px;
}

.clickableCard .bottomSection p {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 15px;
  margin-top: 0px;
}

.clickableCard .bottomSection h3:last-of-type {
  margin-bottom: 0px;
}

.clickableCard .bottomSection p:last-of-type {
  margin-bottom: 0px;
}
