.clickableCard {
  height: 300px;
  display: grid;
  grid-template-rows: 3fr 2fr;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  margin-right: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickableCard:last-of-type {
  margin-right: 0;
}

.clickableCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.clickableCard.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.cardSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topSection {
  background: var(--dynamic-gradient), #ffffff;
  position: relative;
  border-radius: 10px 10px 0 0;
  padding: 0px 15px 15px 0px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(0.2rem);
  z-index: 1;
  color: white;
}

.bottomSection {
  display: flex;
  align-items: flex-start;
  padding: 22px 15px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  z-index: 1;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.clickableCard .topSection h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 300;
}

.clickableCard .topSection h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 35px;
  font-weight: 250;
}

.clickableCard .topSection h3 {
  position: absolute;
  bottom: 35px;
  right: 15px;
  font-size: 16px;
  font-weight: 350;
}

.clickableCard .topSection p {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 14px;
  font-weight: 300;
}

.clickableCard .bottomSection h3 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 0px;
}

.clickableCard .bottomSection p {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 15px;
  margin-top: 0px;
}

.clickableCard .bottomSection h3:last-of-type {
  margin-bottom: 0px;
}

.clickableCard .bottomSection p:last-of-type {
  margin-bottom: 0px;
}
