.clickableCard {
  height: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows, each taking up half the space */
  width: 100%;
  max-width: 320px; /* Adjust based on your preference */
  margin: 0 auto;

  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickableCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cardSection {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Split into two columns */
}

.topSection {
  background-color: #f0f0f0; /* Your desired background color */
}

.bottomSection {
  background-color: white; /* Your desired background color */
}

.leftColumn {
  display: flex;
  justify-content: flex-start; /* Aligns children to the start (left) */
  align-items: center; /* Vertically centers children, if needed */
}

.rightColumn {
  display: flex;
  justify-content: flex-end; /* Aligns children to the end (right) */
  align-items: center; /* Vertically centers children, if needed */
}
