$brand-01: #fb8500;
$brand-02: #ffb703;
$brand-03: #023047;
$brand-04: #219ebc;
$brand-05: #8ecae6;

@font-face {
  font-family: "Mainstay";
  src: url("/fonts/Mainstay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: "Mainstay", sans-serif;
}
