$brand-01: #fb8500;
$brand-02: #ffb703;
$brand-03: #023047;
$brand-04: #219ebc;
$brand-05: #8ecae6;

$brand-white: #ffffff;
$brand-grey: #808080;

@font-face {
  font-family: "Mainstay";
  src: url("/fonts/Mainstay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  align-items: center;
  height: 30px;
  display: grid;
  padding: 20px;
  background-color: rgba(1, 136, 193, 0.8);
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to right, $brand-04, $brand-05);
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

@keyframes fadeInSlideIn {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  animation: fadeInSlideIn 0.5s ease-out forwards;
}

@keyframes loadingShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
