.btnNextHours,
.btnPrevHours {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s ease;
}

.btnNextHours,
.btnPrevHours {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
  z-index: 3;
}

.btnNextHours {
  right: 20px;
}

.btnPrevHours {
  left: 20px;
}

.btnNextHours:hover,
.btnPrevHours:hover,
.btnNextHours:active,
.btnPrevHours:active {
  transform: translateY(-50%) scale(1.2);
}

.btnNextHours:active,
.btnPrevHours:active {
  animation: pressEffect 0.2s ease forwards; // Nice animation yo
}

@keyframes pressEffect {
  0% {
    transform: translateY(-50%) scale(1.2);
  }
  50% {
    transform: translateY(-50%) scale(0.9);
  }
  100% {
    transform: translateY(-50%) scale(1.1);
  }
}
