@import "../../styles/custom-variables.scss";

.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  max-width: 400px;
  margin-right: 0px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 15px 15px;
  background-color: $brand-white;
}

.card .body h1 {
  font-size: 18px;
  font-weight: 450;
  margin: 0px;
}

.imageOverlayWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.coverageOverlay {
  position: absolute;
  bottom: -18px;
  left: -6px;
  height: 108%;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 1) 100%
    ),
    #02b0e033;
  z-index: 1;
  -webkit-mask-image: url("/cloudfill.webp");
  mask-image: url("/cloudfill.webp");
  -webkit-mask-size: cover;
  mask-size: cover;
}

.cloudImage {
  position: relative;
  z-index: 0;
}

.imagePlaceholder {
  width: 150px;
  height: 150px;
  background: linear-gradient(to right, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: loadingShimmer 1.5s infinite linear;
  border-radius: 50%;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 15px 15px;
}
