.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  max-width: 400px;
  margin-right: 0px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:last-of-type {
  margin-right: 0;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.header {
  display: grid;
  position: relative;
  padding: 20px;
  z-index: 1;
  background-color: white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 15px 15px;
  background-color: #edf2fb;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.card .body h1 {
  font-size: 18px;
  font-weight: 450;
  margin: 0px;
}

.imageOverlayWrapper {
  position: relative;
  width: 150px; /* Match the Image width */
  height: 150px; /* Match the Image height */
  overflow: hidden; /* Ensure the overlay doesn't spill outside the image area */
}

.coverageOverlay {
  position: absolute;
  bottom: -18px;
  left: -6px;
  height: 108%;
  background-color: #02b0e033; /* Your specific color */
  z-index: 1; /* Ensure it's above the image */
  -webkit-mask-image: url("/cloudfill.png"); /* For Chrome, Safari */
  mask-image: url("/cloudfill.png"); /* For Firefox */
  -webkit-mask-size: cover;
  mask-size: cover;
}

.cloudImage {
  position: relative;
  z-index: 0; /* Ensure the image is behind the overlay */
}
