.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  max-width: 400px;
  margin-right: 0px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.header {
  align-items: center;
  height: 30px;
  display: grid;
  padding: 20px;
  background-color: white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 15px 15px;
  background-color: #edf2fb;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.card .body h1 {
  font-size: 18px;
  font-weight: 450;
  margin: 0px;
}

.imageOverlayWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.coverageOverlay {
  position: absolute;
  bottom: -18px;
  left: -6px;
  height: 108%;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 1) 100%
    ),
    #02b0e033;
  z-index: 1;
  -webkit-mask-image: url("/cloudfill.png");
  mask-image: url("/cloudfill.png");
  -webkit-mask-size: cover;
  mask-size: cover;
}

.cloudImage {
  position: relative;
  z-index: 0;
}

.imagePlaceholder {
  width: 150px;
  height: 150px;
  background: linear-gradient(to right, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: loadingShimmer 1.5s infinite linear;
  border-radius: 50%;
}

@keyframes loadingShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
