.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  max-width: 250px;
  margin-right: 0px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.header {
  align-items: center;
  display: grid;
  padding: 20px;
  background-color: white;
  height: 30px;
}

.body {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0px 20px 20px 20px;
  background-color: #edf2fb;
  flex-direction: column;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.card .body h1 {
  font-size: 18px;
  font-weight: 450;
  margin: 0px;
}

.card .body h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 0px;
}

.card .body h3 {
  font-size: 14px;
  font-weight: 350;
  margin-bottom: 15px;
  margin-top: 0px;
  color: grey;
}

.imagePlaceholder {
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: loadingShimmer 1.5s infinite linear;
}

@keyframes loadingShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
