.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.header {
  align-items: center;
  height: 30px;
  display: grid;
  padding: 20px;
  background-color: white;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #edf2fb;
  padding: 60px 40px 60px 40px;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
}

.middleColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.leftColumn h2,
.middleColumn h2,
.rightColumn h2 {
  font-size: 14px;
  font-weight: 450;
  margin: 0px;
}

.leftColumn h3,
.middleColumn h3,
.rightColumn h3 {
  font-size: 14px;
  font-weight: 300;
  color: grey;
  margin: 0px;
}

.fadeIn {
  animation: fadeInSlideIn 0.5s ease-out forwards;
}

@keyframes fadeInSlideIn {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
