.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  max-width: 250px;
  margin-right: 0px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:last-of-type {
  margin-right: 0;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.header {
  display: grid;
  position: relative;
  padding: 20px;
  z-index: 1;
  background-color: white;
}

.body {
  justify-content: center;
  display: flex;
  flex-direction: column; /* Keeps topRow and bottomRow in a vertical stack */
  align-items: center; /* Aligns children (rows) to the center horizontally */
  padding: 0px 15px 15px 15px;
  background-color: #edf2fb;
  z-index: 1;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.topRow,
.middleRow,
.bottomRow {
  display: flex;
  width: 100%; /* Ensure the row takes up the full width of its parent */
  justify-content: space-around; /* Evenly distributes items with equal space around them */
  padding: 15px;
}

.topRow h2,
.middleRow h2,
.bottomRow h2 {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 450;
}

.topRow h3,
.middleRow h3,
.bottomRow h3 {
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 300;
  color: grey;
}
