@import "../../styles/custom-variables.scss";

.card {
  width: 100%;
  margin-right: 0px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  max-width: none;
}

.body {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center; // This centers horizontally, good for when flex-direction is row
  justify-content: center; // This centers vertically in the current column setup
  padding: 20px; // Adjusted padding, assuming you want it on all sides
  background-color: $brand-white;
  flex-direction: column;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: $brand-white;
}

.btnNextHours,
.btnPrevHours {
  cursor: pointer;
  position: absolute;
  top: 50%; // Keep this to center vertically
  transform: translateY(
    -50%
  ); // Center vertically with respect to the container
  transition: transform 0.2s ease; // Smooth transition for hover effect
  z-index: 10; // Ensure buttons are above other elements
}

.btnNextHours {
  right: 20px; // Move to the right of the graph
}

.btnPrevHours {
  left: 20px; // Move to the left of the graph
}

/* Animation and hover effect */
.btnNextHours:active,
.btnPrevHours:active {
  transform: translateY(-50%) scale(0.9); // Press effect
}

.btnNextHours:hover,
.btnPrevHours:hover {
  transform: translateY(-50%) scale(1.1); // Hover effect, enlarge slightly
}

.card .body .noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .body .noDataContainer h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 15px 15px;
  text-align: center;
}

.card .body .noDataContainer h3 {
  font-size: 14px;
  font-weight: 300;
  color: $brand-grey;
  margin: 15px 15px;
  text-align: center;
}
