@import "../../styles/custom-variables.scss";

.card {
  height: auto;
  display: grid;
  width: 100%;
  max-width: 250px;
  margin-right: 0px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  max-width: none;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $brand-white;
  flex-direction: column;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: $brand-white;
}
