.clickableCard {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  max-width: 320px;
  margin-right: 12px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickableCard:last-of-type {
  margin-right: 0;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.clickableCard.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.topSection {
  display: grid;
  position: relative;
  padding: 20px;
  z-index: 1;
  background-color: white;
}

.bottomSection {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0px 20px 20px 20px;
  background-color: #edf2fb;
  z-index: 1;
  flex-direction: column;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.clickableCard .topSection h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.clickableCard .topSection h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 35px;
  font-weight: 250;
}

.clickableCard .topSection h3 {
  position: absolute;
  bottom: 35px;
  right: 13px;
  font-size: 16px;
  font-weight: 350;
}

.clickableCard .topSection p {
  position: absolute;
  bottom: 5px;
  right: 13px;
  font-size: 14px;
  font-weight: 300;
}

.clickableCard .bottomSection h1 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}

.clickableCard .bottomSection h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 0px;
}

.clickableCard .bottomSection h3 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0px;
  color: grey;
}

.clickableCard .bottomSection p {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 15px;
  margin-top: 0px;
}

.clickableCard .bottomSection h3:last-of-type {
  margin-bottom: 0px;
}

.clickableCard .bottomSection p:last-of-type {
  margin-bottom: 0px;
}
