.card {
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack child elements vertically */
  align-items: flex-start;
  padding: 1.2rem;
  border-radius: 5px;
  background: rgba(160, 233, 255, 0.8);
  border: 2px solid #aaaaaa;
  transition: background 200ms, border 200ms;
  width: 300px;
  max-height: 200px;
  /* justify-content: center; Added */
  margin-right: 10px;
}

.card span {
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #ffffff;
}

.card h3 {
  font-weight: 400;
  margin-bottom: 0.7rem;
  color: #ffffff;
}

.card h4 {
  font-weight: 200;
  margin-bottom: 0.7rem;
  color: #ffffff;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}
