.cardBtn:not(:last-child) {
  margin-right: 10px;
}

.cardBtn {
  position: relative;
  display: block;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #83e4ee;
  border: 1px solid #010f3a;
  transition: background 200ms, border 200ms;
  width: 300px;
  max-height: 200px;
  padding: 1.2rem;
  border-radius: 5px;
}

.card span {
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #ffffff;
}

.card h3 {
  font-weight: 400;
  margin-bottom: 0.7rem;
  color: #ffffff;
}

.card h4 {
  font-weight: 200;
  margin-bottom: 0.7rem;
  color: #ffffff;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
  color: #010f3a;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}
