.cardContainer {
  display: flex;
  width: 100%;
}

.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.hourlyForecastContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:last-of-type {
  margin-right: 0;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.header {
  height: 30px;
  align-items: center;
  display: grid;
  padding: 20px;
  background-color: white;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 20px;
  background-color: #edf2fb;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.card .body h2 {
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
}

.card .body h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
}

.card .body h3:last-of-type {
  margin-bottom: 0px;
}

.card .body p:last-of-type {
  margin-bottom: 0px;
}

.imagePlaceholder {
  width: 80px;
  height: 80px;
  background: linear-gradient(to right, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: loadingShimmer 1.5s infinite linear;
  border-radius: 50%;
}

@keyframes loadingShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
