html {
  background-position: bottom center;
  background: radial-gradient(circle at 50% 100%, #8ecae6, #ffffff);
  overflow-x: hidden;
}

.body {
  font-family: var(--font-family-primary), sans-serif;
}

.web-base {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  max-width: 1200px;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0 auto;
  font-weight: 300;
  font-family: var(--font-family-primary), sans-serif;
}
