.siteHeader {
  border-radius: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(260deg 50% 50% / 0.1);
  background: rgba(2, 176, 224, 0.5);
  padding: 15px 15px 15px 30px;
}

.siteTitle {
  display: flex;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

.siteHeader .logo {
  font-size: 1.5rem;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.5);
  padding: 24px;
  text-decoration: none;
  margin-bottom: -1px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
