.siteHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-bottom: 1px solid hsl(260deg 50% 50% / 0.1);
  background: linear-gradient(to right, #fdc830, #ffb703);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 15px;
  font-family: var(--font-family-header);
  height: 175px;
  padding-top: 40px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mainLogo {
  margin: auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bubbleUp {
  0% {
    bottom: -10%;
    opacity: 0.5;
  }
  100% {
    bottom: 110%;
    opacity: 0;
  }
}

.bubble {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  animation: bubbleUp linear infinite;
  animation-duration: var(--bubble-duration, 10s);
  bottom: 0;
}
