.siteHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid hsl(260deg 50% 50% / 0.1);
  background: hsl(260deg 50% 50% / 0.1);
}
.siteHeader .logo {
  font-size: 1.5rem;
  font-weight: 500;
  background: hsl(260deg 100% 50%);
  color: white;
  padding: 24px;
  text-decoration: none;
  margin-bottom: -1px;
}
.siteHeader nav {
  overflow: auto;
  padding: 24px;
}
.header-nav-links {
  display: flex;
  gap: 32px;
  font-size: 1.25rem;
  font-weight: 500;
}
.siteHeader .headerNavLink {
  text-decoration: none;
  color: black;
}
.siteHeader .headerNavLink.primary {
  color: hsl(260deg 100% 50%);
}
