.siteFooter {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  background: rgba(1, 136, 193, 0.8);
  padding: 24px;
}
.siteFooter .logoWrapper {
  flex-shrink: 10000;
}
.siteFooter .logo {
  border-radius: 10px;
  display: block;
  width: max-content;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 8px;
  background: #010f3a;
  color: white;
  padding: 16px 24px;
  text-decoration: none;
}
.siteFooter .disclaimer {
  color: white;
  font-size: 0.875rem;
}
.siteFooter .linkWrapper {
  display: flex;
  gap: 48px;
}
.siteFooter h2 {
  color: #010f3a;
  font-size: 1rem;
  margin-bottom: 0.5em;
}
.siteFooter ol {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1rem;
}
.siteFooter ol a {
  color: inherit;
  text-decoration: none;
}
.siteFooter ol a:hover {
  text-decoration: underline;
}
