.cardContainer {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  background: #cfdef3;
  background: -webkit-linear-gradient(to right, #e0eafc, #cfdef3);
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: 15px;
  border-radius: 15px;
}

.circle1 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  height: 12rem;
  width: 12rem;
  position: absolute;
  border-radius: 50%;
  top: 25%;
  left: 29%;
  transform: translate(-10%, -10%);
}

.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  height: 12rem;
  width: 12rem;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.circle1 {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.circle2 {
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.weatherCardContainer {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}

.weatherCardContainer:last-of-type {
  margin-right: 0px;
}

.selectedBorder {
  position: absolute;
  z-index: 2;
  top: 0;
  right: -5px;
  bottom: 0;
  left: 0;
  border: 5px solid rgba(1, 136, 193, 0.8);
  border-radius: 10px;
  box-sizing: border-box;
}
