.dailyForecastContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 15px;
  padding-bottom: 0px;
}

.topRow,
.middleRow,
.bottomRow {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
