.dailyForecastContainer {
  display: flex;
  flex-direction: row; /* Aligns children (Card components) in a row */
  justify-content: flex-start; /* Aligns children to the start of the row (left) */
  gap: 20px;
  padding: 0px 15px 15px 15px;
}
