@import "../../styles/custom-variables.scss";

.wrapper {
  display: flex;
  width: 50px;
  height: 20px;
  border-radius: 40px;
  border: none;
  padding: 6px;
  border: 2px solid $brand-02;
  background: rgb(255, 255, 255);
  cursor: pointer;
  box-sizing: content-box;
  outline-offset: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.ball {
  display: block;
  height: 100%;
  aspect-ratio: 1 / 1;
  background: #ffb703;
  background: $brand-02;
  border-radius: 1000px;
}
