@import "../../styles/custom-variables.scss";

.card {
  display: grid;
  max-width: 340px;
}

.body {
  background-color: $brand-white;
  padding: 20px 20px 30px 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.rightColumnContainer {
  padding: 0px 50px;
}

.sliderContainer {
  width: 100%;
  max-width: 340px;
  min-height: 90px; /* Ensure this matches your slideItemWrapper height or is enough to maintain layout */
}

.gridRow {
  display: flex;
  align-items: center;
  min-height: 80px; /* Adjust based on your design */
}

.slideItemWrapper {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.slideItemWrapper:hover {
  background-color: rgba(142, 202, 230, 0.2);
}

.selectedIndicator {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: green;
}

.selectedIndicator::before {
  content: "\2713";
}

.btnNext,
.btnPrev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.btnNext {
  right: -45px;
}

.btnPrev {
  left: -45px;
}

.btnNext:hover,
.btnPrev:hover,
.btnNext:active,
.btnPrev:active {
  transform: translateY(-50%) scale(1.2);
}

.btnNext:active,
.btnPrev:active {
  animation: pressEffect 0.2s ease forwards;
}

@keyframes pressEffect {
  0% {
    transform: translateY(-50%) scale(1.2);
  }
  50% {
    transform: translateY(-50%) scale(0.9);
  }
  100% {
    transform: translateY(-50%) scale(1.1);
  }
}
