.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 0px; /* Adjust the space between the rows */
  align-items: center; /* Center the sliders */
}

.sliderContainer {
  width: 60%; /* Adjust based on your preference */
  max-width: 600px; /* Prevents the slider from stretching too wide */
  margin: 0 auto; /* Centers the slider */
}

.slick-slide {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Ensure each slide takes full width */
}

.slideItemWrapper {
  width: 50px; // Set this to your desired width
  margin: 0 auto; // Center the content within the slide if desired
  text-align: center; /* This centers the text or inline elements within the block */
}
