@import "../../styles/custom-variables.scss";

.currentInformation {
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(142, 202, 230, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: var(--font-family-header);
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  border-bottom: 1px solid hsl(260deg 50% 50% / 0.1);
}

.body {
  display: flex;
  align-items: center;
  width: 100%;
}

.bodyText {
  font-size: 15px;
  font-weight: 400;
  flex: 1;
  white-space: nowrap;
  text-align: left;
  max-width: 275px;
}

.formContainer {
  flex: 2;
  display: flex;
  justify-content: center;
}

.spacer {
  flex: 1;
}

.form {
  max-width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 70px;
  padding-top: 25px;
}

.inputField {
  height: 20px;
  font-family: var(--font-family-header);
  font-size: 1rem;
  padding: 10px 25px;
  border: 1px solid $brand-02;
  border-radius: 30px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  background-image: url("/search.png");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-bottom: 5px;
  width: 80%;

  &:focus {
    border: 1px solid $brand-01;
    box-shadow: 0 0 0 2px $brand-02;
  }

  &::placeholder {
    color: brand-grey;
    font-style: italic;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.validationMessage {
  color: rgba(255, 3, 3, 0.658);
  font-size: 0.825rem;
  height: 10px;
  overflow: hidden;
  font-weight: 400;
  padding-left: 10px;
}

.validationMessage.show {
  overflow: visible;
}

.inputFieldPlaceholder {
  height: 20px;
  font-family: var(--font-family-header);
  font-size: 1rem;
  padding: 10px 25px;
  border: 0.5px solid $brand-grey;
  border-radius: 30px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 5px;
  width: 80%;
  animation: pulse 1000ms ease-in-out infinite alternate;
  background: linear-gradient(to right, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);

  &::placeholder {
    color: brand-grey;
    font-style: italic;
    font-family: var(--font-family-loading);
  }
}

/* Assuming this is in toggle.module.css or a similar CSS module file */
.toggleContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.dimmed {
  opacity: 0.5;
}

.toggleContainer p {
  font-weight: 500; /* Adjust the font-weight as needed, 400 is normal, 700 is bold */
  transition: opacity 0.3s ease; /* Add transition for opacity */
}
