@import "../../styles/custom-variables.scss";

.currentInformation {
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  border-bottom: 1px solid hsl(260deg 50% 50% / 0.1);
  background: #f9f7f3;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  padding-left: 40px;
  font-family: var(--font-family-header);
  height: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
}
