.card {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 7fr;
  width: 100%;
  max-width: 400px;
  margin-right: 0px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
}

.card.placeholder {
  font-family: var(--font-family-loading);
  animation: pulse 1000ms ease-in-out infinite alternate;
}

.header {
  align-items: center;
  height: 30px;
  display: grid;
  padding: 20px;
  background-color: white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px 15px 15px;
  background-color: #edf2fb;
}

.card .header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.topRow,
.bottomRow {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 15px;
}

.topItem,
.bottomItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topItem h2 {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
}

.topItem h3 {
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

.bottomItem h3 {
  margin-bottom: 15px;
  margin-top: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

.imagePlaceholder {
  width: 32px;
  height: 32px;
  background: linear-gradient(to right, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: loadingShimmer 1.5s infinite linear;
  border-radius: 50%;
}

@keyframes loadingShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.spinnerPlaceholder {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadeIn {
  animation: fadeInSlideIn 0.5s ease-out forwards;
}

@keyframes fadeInSlideIn {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
